@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #18122B;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
  left: 0;
  right: 0;
    background-color: #100b21;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 15px 30px;
    color: #fff;
}

.search-container {
    display: flex;
    flex-wrap: row;
}
input {
    background-color: transparent;
    border: 2px solid #393053;
    padding:0.5rem 1rem;
    border-radius: 50px 0 0 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

button {
    width: 23%;
    cursor: pointer;
    margin-left: 0;
    padding: 16px 12px;
    background-color: #393053;
    border-radius: 0 50px 50px 0;
    font-family: Poppins;
    color: white;
    border: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  .item {
    width: 350px;
    height: 500px;
    background-color: #e6b8b8;
    margin: 5px;
  }